.wooko {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo';
  scroll-behavior: smooth;
  margin-top: 5rem;

  .wooko-head-txt {
    color: #C38154;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-family: 'Carter One', arial;
    color: #C38154;
    font-weight: 400;
    font-size: 42px;
    line-height: 63px;
    text-align: center;
    width: 100%;
  }





  .flex-row {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



  }
}

.wooko-fb-1 {
  position: relative;
  margin: 1.5rem;

  .wooko-txt-lite {
    position: absolute;
    color: #F9E0BB;
    font-size: 1.5rem;
    width: 220px;
    font-weight: 700;
    opacity: 0.20000000298023224;
    top: -55px;
    left: 70px;

  }

  .wooko-bg-box {
    position: relative;
    border-radius: 10px;
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.06) 100%);
    width: 280px;
    height: 150px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

         backdrop-filter: blur(7px);

    .wooko-txt-head {
      color: #F9E0BB;
      font-size: 1.3rem;
      font-weight: 500;
    }

    .wooko-txt-para {
      color: #FFF6E9;
      font-size: 0.95rem;
      font-family: Heebo;
    }
  }
}

.bt-content {
  padding: 7rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;

  .chart-img {
    float: left;
    width: 480px;
     
  }

  .side-content {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;

    .total-supply {
      color: #F9E0BB;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 0.5rem 0.9rem;
      border-radius: 50px;
      background: linear-gradient(134deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    .wooko-c-txt {
      color: #FFF6E9;
      font-size: 1.25rem;

    }

    .token-info {
      color: #F9E0BB;
      font-size: 1.25rem;
      line-height: 1.5rem;
      border-radius: 10px;
      padding: 1rem;
      background: linear-gradient(134deg, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.00) 100%);
    }

    .wooko-bt-txt {
      color: #FFF6E9;
      font-size: 1.25rem;

      .woo-list {
        .woo-li {
          margin: 0.3rem 0;
        }

      }
    }

  }
}

@media screen and (max-width: 768px) {
  .wooko {
    padding: 0;
    margin-top: 0;
    position: relative;
    width: 95vw;

    .flex-row {
      flex-direction: column;
    }

    .bt-content {
      padding: 0 1rem;
      padding-top: 3rem;

      flex-direction: column;

      .chart-img {
        width: 300px;
        margin-bottom: -4rem;
      }
    }

  }

  .wooko-fb-1 {

    .wooko-txt-lite {
      position: absolute;
      font-size: 1.5rem;
      width: 220px;
      font-weight: 700;
      opacity: 0.20000000298023224;
      top: -50px;
      left: 70px;

    }
    
    margin: 2rem 0;
  }
}