.footer {

  background: linear-gradient(180deg, rgba(136, 74, 57, 0.00) 0%, rgba(136, 74, 57, 0.40) 100%);

  padding: 2rem 5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: 'Heebo';

  .footer-up-txt {
    color: #FFF6E9;
    text-align: center;
    font-size: 0.7rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #F9E0BB;
    gap: 2rem;
    padding: 2rem;
    .footer-nav-item{
      cursor: pointer;
    }
  }

  .footer-copyright {
    color: #FFF6E9;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }

}


@media screen and (max-width: 768px) {
  .footer{
    width: 90vw;
    height: 100%;
    padding: 2rem ;
    padding-bottom: 0;

    .footer-nav{
      // display: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 4;
      gap: 1.2rem;
      padding: 0;
      padding-bottom: 1rem;
    }
    .footer-up-txt {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}
